<!doctype html>
<head>
    {{! document settings }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{! page meta}}
    <title>{{meta_title}}</title>

    {{! feed, styles, etc. }}
    <link rel="stylesheet" href="{{asset 'css/styles.css'}}" type="text/css">
    <link rel="alternate" title="RSS" href="{{@blog.url}}/rss/" type="application/rss+xml">

    {{! ghost stuff - dont' remove this }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <header class="main-header">
        <div class="page-wrapper">
            <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
            <p>{{@blog.description}}</p>

        </div><!-- page wrapper -->
    </header>


    <main>
        <div class="page-wrapper">
        {{{body}}}
        </div><!-- page wrapper -->
    </main>

    

    <footer class="main-footer">
        <div class="page-wrapper">
            <nav class="main-menu">{{navigation}}</nav>

            <!-- <p><a href="{{@blog.url}}/rss/">Subscribe to RSS</a> updates.</p> -->

            <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=StoicDoodler', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p><input type="text" style="height: 30px; width: 40%; margin: 10px; border-radius: 7px; border: 2px solid #ccc;" name="email"/><input style="background-color: transparent; font-family: inherit; font-size: inherit; color: #31ffd5;" type="submit" value="Subscribe" /></p><input type="hidden" value="StoicDoodler" name="uri"/><input type="hidden" name="loc" value="en_US"/></form>

            <p>© {{date format="YYYY"}} {{@blog.title}}<br>
            </p>
        </div><!-- page wrapper -->
    </footer>

    {{! ghost stuff - don't remove this! }}
    {{ghost_foot}}
</body>
